/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
＊ {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 70px;
  /*margin: 0 auto;*/
  background-color: #EC715F;
}

.header-group {
  display: flex;
  justify-content: space-between;
  font-size: 0;
}

.logo {
  height: 70px;
}

.nav {
  display: flex;
}

.nav-list {
  width: 120px;
  line-height: 70px;
  color: #FAFAFA;
  padding: 0 30px;
  list-style: none;
  font-size: 16px;
}

.nav-list a{
  color: #FAFAFA;
}


.main-visual {
  width: 100%; /* 横幅いっぱい */
  height: 650px; /* 高さ */
  background-image: url(img/mv.png);/*画像*/
  background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
  background-position: center; /* 背景画像を中央に配置 */
  display: flex; /*Flexboxの利用*/
  justify-content: center; /* 子要素の横並び・中央寄せ */
}

.main-visual-content {
  width: 40%;
  height: 650px;
 text-align: center; /*文字を中央ぞろえにする*/
}

.main-visual-name {
  font-size: 64px;
  padding-top: 200px;
  color: #FAFAFA; /* 文字色*/
}

.main-visual-text {
  font-size: 20px;
  margin-top: 10px;
  color: #FAFAFA; /* 文字色*/
}



.main {
  width: 100%; /* 横幅いっぱい→840px */
  height: auto; /* 高さ*/
  /*background-color: green; /* 背景色green */
  /*margin: 0 auto;/*中央寄せ（左右に余白がないとできない）*/
}

.portfplio {
  width: 100%;
  background-color: #ECEFF1; /* 背景色 */
}

.portfplio-name {
  font-size: 32px;
  padding-top: 90px;
  color: #000000;
  text-align: center; /*文字を中央ぞろえにする*/
}

.portfplio-text {
  font-size: 16px;
  margin-top: 30px;
  color: #000000;
  text-align: center; /*文字を中央ぞろえにする*/
}

.production-group {
  display: flex;
	flex-flow: row wrap;
  width: 920px;
  /*padding: 30px 0 90px 0;*/
  margin: 0 auto;
}

.production{
	width: 300px;
	height: 250px;
	margin: 10px 10px 0 0;
	background-size: cover;
	background-position: center;
}

.production:nth-child(-n+3){
	margin-top: 0;
}

.production:nth-child(3n){
	margin-right: 0;
}

.bg-1 {
  background-image: url(img/sketch.jpg);
}

.bg-2 {
  background-image: url(img/websuku.png);
}

.bg-3 {
  background-image: url(img/write.jpg);
}

.bg-4 {
  background-image: url(img/webcamp.png);
}
.bg-5 {
  background-image: url(img/talk.jpg);
}

.bg-6 {
  background-image: url(img/webcamp-mother.png);
}



.feature {
  background-size: cover;
  background-position: center;
}

.feature-name {
  font-size: 32px;
  padding-top: 90px;
  color: #000000;
  text-align: center; /*文字を中央ぞろえにする*/
}

.feature-text {
  font-size: 16px;
  margin-top: 30px;
  color: #000000;
  text-align: center; /*文字を中央ぞろえにする*/
}

.social-group {
  display: flex; /*HTMLブロックを横並びに表示する。flexboxと呼ばれるレイアウトモードを使用することができる*/
  width: 980px; /*横幅*/
  padding: 30px 0 90px 0; /*要素内側の余白*/
  margin: 0 auto; /*要素外側の余白*/
}

.strength {
  width: 320px; 
  margin-right: 10px;
  text-align: center; /*テキストの水平方向への配置を指定*/
  font-size: 60px;
}

.strength:last-child { /*疑似クラスで兄弟要素のグループの中で最後の要素を表している*/
  margin-right: 0; /*今回は<p>になる*/
}

.strength-title {
  padding: 10px 0;
  font-size:20px;
}
.strength-text {
  text-align: left;
  font-size: 16px;
}




.profile {
  width: 100%;
  height: auto;
  background-color: green; /* 背景色 */
}

.profile-name {
  font-size: 32px;
  padding-top: 90px;
  color: #000000;
  text-align: center; /*文字を中央ぞろえにする*/
}

.profile-text {
  font-size: 16px;
  margin-top: 30px;
  color: #000000;
  text-align: center; /*文字を中央ぞろえにする*/
}

.introduction-group {
  display: flex;
	flex-flow: row wrap;
  width: 920px;
  /*padding: 30px 0 90px 0;*/
  margin: 0 auto;
}

.introduction {
	width: 300px;
	height: 250px;
	margin: 10px 10px 0 0;
	background-size: cover;
	background-position: center;
}

.pr-1 {
  background-image: url(img/my-icon.jpg);
}

.introduction-name {
  font-size: 20px;
  color: #000000;
}

.introduction-text {
  font-size: 16px;
  color: #000000;
}

.skill-name {
  font-size: 20px;
  color: #000000;
}

.skill-text {
  font-size: 16px;
  color: #000000;
}


.contact {
  width: 100%;
  height: auto;
  background-color: pink; /* 背景色 */
}

.contact-name {
  font-size: 32px;
  padding-top: 90px;
  color: #000000;
  text-align: center; /*文字を中央ぞろえにする*/
}

.contact-text {
  font-size: 16px;
  margin-top: 30px;
  color: #000000;
  text-align: center; /*文字を中央ぞろえにする*/
}



footer {
  width: 100%;
  height: 60px;
  text-align: center;
  background-color: #EC715F;
}

.footer-text {
  font-size: 16px;
  line-height: 60px;
  color: #FAFAFA
}